.quote-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3rem;
  height: 100%;
  justify-content: stretch;
}

.quote-content {
  font-size: xx-large;
}

.refresh-btn {
  padding: 1rem;
}

.msg {
  padding: 1rem;
}
