
@import url('https://fonts.googleapis.com/css?family=Baumans');

* {
  box-sizing: border-box;
  font-family: 'Baumans', sans-serif;
}

body {
  padding: 1rem 4rem;
}

nav {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  flex: 1;
}

h1 {
  font-size: xx-large;
  flex: 3;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.page-link > * {
  text-decoration: none;
  color: black;
  font-size: large;
}

.page-link {
  padding: 1rem;
  border-radius: 1rem;
}

.page-link:hover {
  background-color: lightgrey;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  max-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

header {
  display: flex;
  flex-direction: row;
}

.nav-link {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  background-color: transparent;
}

.nav-link:hover {
  background-color: lightgray;
}
